{% extends "about.html" %}
{% block content %}

        <table>
            <tr>
                <th>time</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>depth</th>
                <th>mag</th>               
                <th>id</th>
                 <th>net</th>                
                <th>place</th>               

            </tr>
            {% for row in row %}
                <tr>
                    <td>
                        {{row.time}}

                    </td>
                    <td>
                        {{row.latitude}}
                    </td>
                    <td>
                        {{row.longitude}}
                    </td>
                    <td>
                        {{row.depth}}
                    </td>
                    <td>
                        {{row.mag}}
                    </td>
                    
                    
                    <td>
                        {{row.id}}
                    </td>
                    <td>
                        {{row.net}}
                    </td>
                    
                    <td>
                        {{row.place}}
                    </td>
                    
                   
                </tr>

            {% endfor %}
        </table>
{% endblock content %}